@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    appearance: none;
    font-family: 'Roboto';
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.crop, .user-img{
    border-radius: 50%;
    height: 55px;
    object-fit: cover;
    overflow: hidden;
    width: 55px;
}

main{
    background-color: #e2e8f0;
    display: grid;
    gap: 25px;
    grid-template-columns: 4fr 1fr;
    padding: 30px 45px 15px 30px;
}

header{
    background-color: #fff;
    grid-column: 2;
    display: grid;
    gap: 15px;
    grid-template-columns: 2fr 1fr;
    padding: 1rem 3rem;
    position: relative;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

aside{
    background-color: #0284c7;
    grid-row: 1 / span 2;
    color: white;
    padding: 25px 35px;
}

.card-container{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.card{
    background-color: #fff;
    border-radius: 10px;
    border-left: 6px solid #fbbf24;
    display: grid;
    padding: 35px 20px 0px 20px;
    height: 185px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.announcement-cards{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.user-container{
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    place-content: center;
}

.user{
    display: flex;
    place-items: center;
    margin: 0 0 25px;
}

.user-info{
    margin: 0 15px;
}

.side{
    display: grid;
    gap: 25px;
}

.sidebar-buttons{
    display: grid;
}

.main-buttons > li, .settings-buttons > li{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    place-items: center;
    margin: 0 0 25px 10px;
}

.main-buttons{
    margin: 4rem 0px 3rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > h2{
    font-size: 25px;
    font-weight: 700;
    margin: 5px;
}

.logo > iconify-icon{
    font-size: 45px;
}

.main-buttons > li > iconify-icon, .settings-buttons > li > iconify-icon{
    font-size: 25px;
    margin: 0 25px 0 0;
}

.upper-header, .lower-header{
    display: flex;
}


.main-user{
    display: flex;
    align-items: center;
}

.action-buttons > ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.action-buttons{
    place-self: center;
}

input{
    border-radius: 15px;
    width: 36rem;
    height: 2rem;
    padding: 15px;
    border: none;
    background-color: #e2e8f0;
}

form > iconify-icon, .user-icon > iconify-icon{
    align-self: center;
    font-size: 24px;
    margin: 0 25px 0 0;
}

button{
    border-radius: 15px;
    padding: 5px 20px;
    width: 100px;
    height: 35px;
    border: none;
    background-color: #0284c7;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

form{
    display: flex;
    align-self: center;
}

.user-icon{
    display: flex;
    align-items: center;
    justify-self: center;
}

.username{
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

.greet, .user-name{
    font-weight: 600;
}

.greet{
    font-size: 16px;
}

.user-name{
    font-size: 22px;
}

.user-text{
    margin: 0 20px;
}

.user-img{
    height: 85px;
    width: 85px ;
}

.action-icons{
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    place-items: center;
    place-content: end;
}

.action-icons > li{
    margin: 15px 15px 0 15px;
}

.project-text{
    margin: 0 0 15px 0;
}

.project-actions{
    align-self: end;
    margin: 0 0 15px;
}

h3{
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 15px;
}

.description{
    font-size: 14px;
    color: #646a70;
}

.user:last-child{
    margin-bottom: 0;
}

.trending-username{
    font-size: 14px;
    font-weight: 400;
}

.announcement{
    margin-bottom: 15px;
}

hr{
    margin: 15px 0;
    color: rgba(0, 0, 0, 0.2);
}

.announcement > h4{
    font-size: 15px;
}

.announcement > p{
    font-size: 11px;
    color: #646a70;
}

.project-text > h4{
    font-size: 18px
}

.project-text > p{
    color: #646a70;
}